.navbar
{
background-color: bisque;
display: flex;
justify-content: space-evenly;
}
a
{
    text-decoration: none;
    color: black;
    background-color: darkseagreen;
}
li
{
    /* removes bullets in the starting */
    list-style-type: none;
    display: inline;
}
/* Use flexbox to align one div element in center inside another div */
.outer
{
    height: 400px;
    width: 400px;
    background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner
{
    height: 200px;
    width: 200px;
    background-color: plum;
}