div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: darkolivegreen;
    color: white;
    border: 2px solid black;
  animation-name: Animate;
  animation-duration: 4s;
  animation-delay: 1s;
}
@keyframes myAnimate
{
    from {background-color: darkolivegreen;}
    to {background-color: coral;}
}
@keyframes Animate
{
    0%{font-size: 20px;}
    50%{font-size:30px;}
    100%{font-sizw:50px}
}